# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.opensdf

# Executables
*.exe
*.out
*.app
/ArxProject2.VC.db
/ArxProject2.VC.VC.opendb
*.tlog
*.exp
*.idb
*.pdb
*.log
*.ipch
*.arx
*.res
